.header {
  zoom:1;
}
.header:after {
  display:block;
  clear:both;
  content:"";
  visibility:hidden;
  height:0;
}
.login-all {
  width: 100%;
  height: 100%;
}
.login-header {
  width: 100%;
  height: 25%;
}
.login-viewport {
  width: 520px;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  border: 1px #000 solid;
}
.login-top {
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #337AB7;
}

.logo-span{
  display:block;
  width: 154px;
  height: 45px;
  margin:0 auto;
}

.login-img {
  margin:auto;
}
.login-text {
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  display:block;
  width: 200px;
  height: 40px;
  margin: 26px auto;
}